<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.bookmanage.mapper.ex.BackBookMapper">
    <update id="back" parameterType="com.briup.bookmanage.bean.ex.BackBook">
        update L_borrow set id =#{id},reader_id=#{readerId},book_id=#{bookId},R_date=#{rDate},ifback=#{ifback}
        where id = #{id}
    </update>
</mapper>